@import "./flexbox.scss";

$bg-color: #EAEAEA;

$base-font-size-large: 18px;
$base-font-size: 14px;

$list-card-size-width: 165px;
$list-card-size-height: 200px;

$s4: 4px;
$s6: 6px;
$s8: 8px;
$s12: 12px;
$s16: 16px;

$card-border-radius: $s8 $s8 0 0;
$button-border: 1px solid red;
$button-border-radius: $s4;

$base-font-color-md: black;
$base-font-color-sm: #abb1b1;