@import './styles/base.scss';

.App {
  background-color: $bg-color;
  @include flexbox;
  @include justify-content(center);
  header {
    position: fixed;
    background-color: rgba($color: white, $alpha: 0.95);
    width: 100%;
    height: 30px;
    font-size: $base-font-size;
    transition: top 0.2s;
  }
}
